.navbar{
    background: linear-gradient(45deg,rgb(44, 16, 97),rgb(30, 9, 148));
    
}


.parent-container{
    display: flex;
}
.container button{
    padding: auto;
}
/*  */
#carouselExampleCaptions{
    background-color:orangered;
    height: 500px;
}
.carousel-inner img{
    height: 500px;
}
.container-text{
    padding-top: 20px;
}
.cotainer-text h2{
    
    font-family: sans-serif;
    font-size: medium;
    text-align: center;
    font-weight: bold;

}

.hero-card{
    padding-top: 40px;
    /* padding-left: ; */
}
.hero-card img{
    border-radius: 25px;
    

}

.superhero-zone{
    padding-top: 7%;
}
.working-about{
    padding-top: 7%;
}
.about-me{
    padding-top: 10%;
}

.navbar1{
    background: linear-gradient(45deg,rgb(231, 230, 227),rgb(207, 200, 200));
}

.col-sm-6 img{
    height: 150px;
    width: 350px;
}
.card{
    border-style: none;
}
